@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---Main Container--- */

.main-container {
    width: 625px;
    height: 577px;
    box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    border: 2px #D90429 solid;
    overflow: hidden;
}

/* ---Header--- */

.header {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 60%;
    padding: 40px;
    background-color: #D90429;
}

.header > * {
    color: white;
}

.title {
    font-weight: 600;
    font-size: 36px;
    margin: 0;
}

.description > p {
    font-size: 24px;
    width: 21.5rem;
    margin: 1rem 0;
}

.description span {
    font-weight: 600;
}

.logos {
    display: flex;
    gap: 1rem;
}

.phone-alert {
    position: absolute;
    bottom: -2rem;
    right: -2.5rem;
    transform: rotate(-22.436deg);
}

/* ---Footer--- */

.footer {
    padding: 40px;
    height: 100%;
}

.footer, #mobile, .register {
    background-color: #EDF2F4;
}

.footer > p {
    font-size: 12px;
    margin: 0;
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border: #EF233C solid 2px;
    border-radius: 12px;
    margin-top: 1rem;
}

.register p {
    display: inline;
    margin: 0;
    font-size: 12px;
}


.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.mobile-wrapper {
    width: 65%;
}

#mobile, #submit{
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

#submit {
    background-color: #EF233C;
    color: white;
    border: none;
    width: 8rem;
    border-radius: 12px;
    height: 2.25rem;
    transition: ease 300ms;
}

#submit:disabled {
    background-color: #8D99AE;
    cursor: not-allowed;
}

#submit:active:hover {
    background-color: #D90429;
}

.number {
    width: 100%;
}

#mobile {
    width: 80%;
    height: 2rem;
}

#mobile:focus, #mobile {
    border: none;
    outline: none;
}

/* Error style */

#number-error {
    margin-top: .5rem;
    font-size: 12px;
}